---
import { Image } from "astro:assets";
import { type CollectionEntry } from "astro:content";

type Props = {
    post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
---

<article>
    <a href={`/blog/${post.slug}`}>
        <Image
            src={post.data.image}
            alt={post.data.title}
            width={600}
            height={600 / 1.5}
            class="rounded-2xl shadow-xl mb-4 aspect-thumbnail object-cover"
        />
    </a>
    <a
        href={`/blog/${post.slug}`}
        class="text-4xl text-zinc-900 font-semibold inline-block">
        <h2>{post.data.title}</h2>
    </a>
    <p class="text-zinc-500 text-2xl line-clamp-2">
        {post.body}
    </p>
</article>
